@keyframes show-right {
  from {
    opacity: 0;
    left: -30px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    top: -30px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes accordionSlideDown {
  0% {
    opacity: 0;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 500px;
  }
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}