@import "keyframes.css";
@import "javascript.css";
@import "modal.css";
@import "tooltip.css";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: #faf6ed;
  color: #222;
}

.grid-container { 
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
  /* para manter o miolo no centro, definimos que cada coluna da ponta tenha UMA FRAÇÃO do que sobrar */
  /* definimos também duas colunas centrais, uma pequena com tamanho fixo e outra maior, com mínimo de 300px e máximo de 800px */
}

html.textoMaior {
  font-size: 150%;
}

.menu {
  grid-column: 3 / 5;
  /* nosso grid tem 4 colunas mas as colunas são divididas em linhas, então, o final da coluna 4 é a linha 5. O menu vai da linha 3 à linha 5 */
  margin: 2rem 0;
  /* "rem" é unidade relativa aos píxels da tipografia principal do site (por padrão, geralmente é 16px, então 2rem = 32px */
  background-color: #fb5;
}

.menu ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.menu li a {
  display: block;
  padding: 20px;
  color: #222;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
}

.menu li a:hover {
  background-color: black;
  color: white;
  transition: 500ms;
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  cursor: default;
  /* padding: 10px; */
  display: grid;
  grid-template-columns: 100px 300px 1fr;
  /* um grid dentro do grid principal, este é responsável só pelo miolo central */
  /* a primeira fixa coluna é responsável por dar um efeito de deslocamento para o título da página, a segunda, também fixa, vai abrigar as fotos, a terceira é uma fração, para armazenar o texto e ser dinâmica */
  gap: 20px;
  padding: 10px;
}

.titulo {
  font-family: "Playfair Display SC", georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: normal;
  grid-column: 1 / 4; /* agora se refere ao grid do miolo central */
  margin: 4rem 0;
}

.animais-lista {
  grid-column: 2; /* ou 2 / 3 */
  height: 370px;
  overflow-y: scroll;
}

.animais-lista li {
  cursor: pointer;
}

.animais-lista li:hover {
  opacity: 0.95;
  border: 2px solid white;
  transition: .2s;
}

/* scroll-bar */
.animais-lista::-webkit-scrollbar {
  width: 15px;
}

/* scroll-bar */
.animais-lista::-webkit-scrollbar-track {
  background-color: #faf6ed;
}

/* scroll-bar */
.animais-lista::-webkit-scrollbar-thumb {
  background-color: #fb5;
  border-left: 4px solid #faf6ed;
}

.animais-descricao {
  grid-column: 3; /* já estava, mas vamos especificar */
}

.animais-descricao section {
  margin-bottom: 3rem;
}

.animais h2 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  text-transform: uppercase;
  color: #e54;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.animais h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}

.animais p {
  font-family: Helvetica, Arial;
  line-height: 1.2; /* altera a altura da linha, o espaçamento entre elas */
  margin-bottom: 1rem;
  letter-spacing: 0.01rem;
}

img {
  display: block;
  max-width: 100%;
}

.faq-lista {
  grid-column: 2 / 4;
}

.faq-lista dt {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #e54;
  cursor: pointer;
}

.faq-lista dt:first-child {
  margin-top: 0;
}

.faq-lista dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}

.faq-lista dd {
  font-family: Helvetica, Arial;
  margin-bottom: 0.5rem;
  margin-left: 30px; /* alinhar com o dt */
}

.mapa {
  grid-column: 2;
}

.dados {
  grid-column: 3; /* já estava */
}

.dados li {
  margin-bottom: 1rem;
  font-family: Helvetica, Arial;
}

.dados li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}

.footer {
  text-align: end;
  text-transform: uppercase;
  cursor: default;
  grid-column: 1 / 4;
  margin: 6rem 0 2rem 0;
  background-color: #fb5;
}

.footer p {
  padding: 20px;
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.875rem;
  font-weight: bold;
}